body{
    background-color: rgb(212, 235, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.assignments{
    display: flex;
    flex-wrap:wrap;
}
.assignment{
    width:22%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(240, 191, 156);
}
.assignment img{
    width: 200px;
    padding: 10px;
    display: block;
    margin:auto;
}
h1{
    color: rgb(19, 228, 158);
    text-align: center;
}
h2{
    text-align: center;
}
.assignments img:hover{
    border:4px dashed fuchsia
}