body{
    background-color: rgb(212, 235, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: rgb(240, 191, 156);
}
.assignment img{
    width: 200px;
    padding: 10px;

}
h1{
    color: beige;
    text-align: center;
}